<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Copyright © Leonid Maliutin <mals@live.ru> 2016
-->
<?include Product.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*"
           Name="$(var.ProductName) v$(var.AppVersion) ($(var.HostName))"
           Language="1033"
           Version="$(var.AppVersion)"
           Manufacturer="Leonid Maliutin"
           UpgradeCode="$(var.ProductUpgradeCode)"
  >
    <Package Id="*"
             Compressed="yes"
             Languages="1033"
             InstallScope="perMachine"
             InstallPrivileges="elevated"
             Manufacturer="Leonid Maliutin"
             Description="$(var.ProductName) ($(var.HostName))"
             Comments="!(loc.PackageDescription)"
     />

    <Upgrade Id='$(var.ProductUpgradeCode)'>
      <UpgradeVersion OnlyDetect='yes' Property='SELFFOUND'
                      Minimum='$(var.AppVersion)' IncludeMinimum='yes'
                      Maximum='$(var.AppVersion)' IncludeMaximum='yes' />
      <UpgradeVersion OnlyDetect='yes' Property='NEWERFOUND'
                      Minimum='$(var.AppVersion)' IncludeMinimum='no' />
      <UpgradeVersion OnlyDetect='yes' Property='PREVIOUSFOUND'
                      Minimum='1.0.0' IncludeMinimum='yes'
                      Maximum='$(var.AppVersion)' IncludeMaximum='no' />
    </Upgrade>
    
    <MediaTemplate EmbedCab="yes" />

    <WixVariable Id="HostDispalyName" Value="Microsoft $(var.HostName)" />
    <WixVariable Id="ProductDisplayName" Value="$(var.ProductName) ($(var.HostName))" />

    <!-- Свойства "Add or Remove Programs Entries". https://www.firegiant.com/wix/tutorial/com-expression-syntax-miscellanea/add-or-remove-programs-entries/-->
    <Property Id='ARPCOMMENTS'>!(loc.PackageDescription)</Property>
    <Property Id='ARPCONTACT'>support@docinoffice.ru</Property>
    <Property Id='ARPHELPLINK'>http://www.docinoffice.ru/csv-4180</Property>
    <Property Id='ARPURLINFOABOUT'>http://www.docinoffice.ru/contacts</Property>
    <!--<Property Id='ARPURLUPDATEINFO'>https://twitter.com/docinwords</Property>-->
    <!--<Property Id='ARPHELPTELEPHONE'>URL for technical support</Property>-->
    <!--<Property Id='ARPREADME'>path</Property>-->
    <!--<Property Id='ARPSIZE'>app size in kilobytes</Property>-->
    <!--<Property Id="ARPNOREPAIR">1</Property>-->
    <!--<Property Id="ARPNOMODIFY">1</Property>-->
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <Icon Id="icon.ico" SourceFile="csv-4180.ico"/>

    <?if $(var.Platform) = x64 ?>
    <Condition Message="(loc.Only64BitMessage)"><![CDATA[VersionNT64]]></Condition>
    <?else ?>
    <Condition Message="!(loc.Only32BitMessage)"><![CDATA[NOT VersionNT64]]></Condition>
    <?endif ?>

    <!-- Подключаем функционал для проверки .NET 4.0 и выше.-->
    <PropertyRef Id="NETFRAMEWORK40FULL" />

    <!-- Определяем наличиие Microsoft .NET Framework версии 4.0. http://wixtoolset.org/documentation/manual/v3/howtos/redistributables_and_install_checks/check_for_dotnet.html -->
    <Condition Message="!(loc.NetConditionMessage)">Installed OR NETFRAMEWORK40FULL</Condition>

    <CustomAction Id='CurrentVersionMessage' Error='!(loc.CurrentVersionMessage)' />
    <CustomAction Id='NextVersionMessage' Error='!(loc.NextVersionMessage)' />
    <CustomAction Id='PreviousVersionMessage' Error='!(loc.PreviousVersionMessage)' />

    <Property Id="NETRUNTIME" Value="v4.0.30319" Secure="yes"/>

    <InstallExecuteSequence>
      <Custom Action='CurrentVersionMessage' After='FindRelatedProducts'>SELFFOUND</Custom>
      <Custom Action='NextVersionMessage' After='FindRelatedProducts'>NEWERFOUND</Custom>
      <Custom Action='PreviousVersionMessage' After='FindRelatedProducts'>PREVIOUSFOUND</Custom>
    </InstallExecuteSequence>

    <Feature Id="ProductFeature" Title="Csv4180_Installer" Level="1">
      <ComponentGroupRef Id="MainAssemblies"/>
      <ComponentGroupRef Id="ComRegistration"/>
      <ComponentGroupRef Id="Rfc4180ExcelExtension"/>
      <ComponentRef Id="EventLogIntegration"/>
    </Feature>
	</Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <?if $(var.Platform)="x64"?>
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="DocInOffice_Folder" Name="DocInOffice">
          <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)" />
        </Directory>
      </Directory>
      <?else?>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="DocInOffice_Folder" Name="DocInOffice">
          <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)" />
        </Directory>
      </Directory>
      <?endif ?>
    </Directory>
  </Fragment>
</Wix>
